html {
    background-color:grey;
}
body {
    background-color: white;
}
nav {
    background-color:
}
.collapse {
    background-color:#7ba854;
    height: 500px;
    color: white;
}
form {
    float: right;
    text-align: right;

}
h1 {
    text-align: center;
}
